// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

a {
  text-decoration: none;
}

body {
  font-family: 'Noto Sans KR', 'sans-serif';
}

.app-container {
  min-height: 350px;
}

.btn-delete-user {
  width: 40px;
  text-align: center;
  box-sizing: content-box;
}
